
.loading {
    padding: 40px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 800;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    border-radius: 12px;
}